<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <form action="/" method="post">
        <label for="product">
            <input type="text" name="product" id="product" placeholder="Adicione um produto...">
            <button type="submit">Adicionar Produto</button>
        </label>
    </form>
    <ul style="flex-flow: column nowrap; width: 100%; margin: 10px">
        {% for product in products %}
        <li>{{product | safe | trim}}</li>
        {% endfor %}
    </ul>
    </div>
</body>
<script>
</script>
</html>